<header>
  <h1>{{ site.name }}</h1>
  <nav>
    <ul>
      <li><a href="/">Blog</a></li>
      <li><a href="/papers.html">Papers</a></li>
      <li><a href="/archive.html">Archive</a></li>
      <li><a href="https://github.com/{{ site.github.username }}">GitHub</a></li>
      <li><a href="https://twitter.com/{{ site.twitter.username }}">Twitter</a></li>
      <li><a href="http://pgp.mit.edu/pks/lookup?op=vindex&search=0xF39C1CAFCFC1D202">Mail</a></li>
      <li><a href="http://choffmeister.de/feeds/posts.xml">RSS</a></li>
    </ul>
  </nav>
</header>
