#header {
	border-bottom: @header-footer-border;
	position: relative;
	height: @header-height;

	& > div {
		position: absolute;
		bottom: @header-margin;
		left: 0;
		right: 0;
	}
}

#logo {
	background-image: url('https://secure.gravatar.com/avatar/cc746e5a0241b05590bf508d4666cc36?s=128');
	background-size: 100%;
	background-repeat: none;
	width: 32px;
	height: 32px;
	border-radius: 8px;
	display: inline-block;
	position: absolute;
	left: 0;
	bottom: -3px;
}

#brand {
	font-size: 32px;
	position: absolute;
	left: 40px;
	bottom: -8px;

	& > span {
		&:first-child {
			font-weight: 100;
		}

		&:last-child {
			font-weight: 500;
		}
	}
}

#toplinks {
	.pull-right;
	.clearfix;
	margin: 0;
	padding: 0;
	display: inline-block;
	position: absolute;
	right: 0;
	bottom: 0;
	list-style: none;

	& > li {
		float: left;
		margin-left: 1em;
	}
}
