@import "../../vendor/bootstrap/less/bootstrap.less";
@import "./syntax.less";
@import "./font.less";
@import "./variables.less";

header {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

    h1 {
        font-family: 'Open Sans';
        text-transform: uppercase;
    }

    nav {
        & > ul {
            .clearfix();
            list-style: none;
            padding: 0;
            margin: 0;


            & > li {
                display: inline-block;
                margin: 0 1em;
            }
        }
    }
}

footer {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;

    & > ul {
        .clearfix();
        list-style: none;
        padding: 0;
        margin: 0;


        & > li {
            display: inline-block;
            margin: 0 1em;
        }
    }
}

@media (min-width: 1200px){
.container {
width: 800px;
}
}
@media (min-width: 992px){
.container {
width: 800px;
}
}
@media (min-width: 768px){
.container {
width: 700px;
}
}

#home .posts {
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
        margin: 2em 0;
        padding: 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}
