title = "Back online!"
publish_date = "2013-08-11"

extends ../resources/views/layout
block content
    h1 #{post.title}

    :markdown
        My blog is online again. This time with the power of [Jekyll](http://jekyllrb.com/). Quiet a nice approach for blogs due to the ability for offline editing, full versioning through GIT and the lack of a needed database backend.
