<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<title>{{ page.title }}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<link rel="stylesheet" href="/assets/styles/main.css"/>
	</head>
	<body>
		<header class="container">
			<div class="pull-right">
				<a href="https://github.com/choffmeister">@GitHub</a>
				<a href="https://twitter.com/thekwasti">@Twitter</a>
			</div>
			<a id="brand" href="/"><span>christian</span><span>hoffmeister</span></a>
		</header>
		<hr/>
		<section class="container">
			{{ content }}
		</section>
		<hr/>
		<footer class="container">
			&copy; 2013 Christian Hoffmeister
		</footer>
	</body>
</html>
